@import '../utils/variables.scss';

.app__add{
    border-top: solid 1px rgba($color: white, $alpha: 0.05);
    padding: 25px;
}

input[type="file"] {
  display: none;
}

.app__addButton{
    height: 50px;
    width: 50px;
    border-radius: $border-radius;
    cursor: pointer;
}