@import '../utils/variables.scss';

.app__edit{
    padding: 25px;
    gap: 25px;
    border-radius: $border-radius;
}

.app__editButton{
    width: 75px;
    height: 75px;
    border-radius: $border-radius;
    cursor: pointer;
    // border: dashed 2px rgba($color: white, $alpha: 0.05) !important;
}

@media screen and (max-width: 1024px){
    .app__edit{
        margin: 25px;
    }
}