.app__folderTitle{
    font-size: 32px;
    font-weight: 600;
}

.app__folderInput{
    position: relative;
}

.app__folderInputIcon{
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translate(-50%, -50%);
}

.app__folderInputText{
    padding-left: 64px !important;
}

.app__folderList{
    padding: 0 25px;
    overflow-y: scroll;
    max-height: 390px;

    &::-webkit-scrollbar{
        background-color: rgba($color: white, $alpha: 0);
        width: 4px;
    }

    &::-webkit-scrollbar-track{
        width: 4px;
    }

    &::-webkit-scrollbar-thumb{
        background-color: white;
        border-radius: 10px;
    }
}

.app__folderAudio{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 16px;
}

.app__cover{
    width: 30px;
    height: 30px;
    border-radius: 8px;
}

.app__audioCover{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 8px;
}

.app__audioTitle{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 225px;
}

.app__folderName{
    width: 100%;
    justify-content: space-between;
}