.app__folderTitle{
    font-size: 32px;
    font-weight: 600;
}

.app__folderInput{
    position: relative;
}

.app__folderInputIcon{
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translate(-50%, -50%);
}

.app__folderInputText{
    padding-left: 64px !important;

    background-color: rgba($color: white, $alpha: 0.02);
    border: solid 1px rgba($color: white, $alpha: 0.05);
    z-index: 0;

    transition: all 0.3s ease;
    &:focus{
        outline: none;
        box-shadow: 0 -1px 0 0 rgba(255, 255, 255, 0.1), 0 0 0 1px rgba(255, 255, 255, 0.1);
    }
}

.app__folderList{
    padding: 1px 25px; //1px pour ne pas couper boxshadow
    overflow-y: scroll;
    max-height: 390px;

    &::-webkit-scrollbar{
        background-color: rgba($color: white, $alpha: 0);
        width: 4px;
    }
    
    &::-webkit-scrollbar-track{
        width: 4px;
    }

    &::-webkit-scrollbar-thumb{
        background-color: white;
        border-radius: 10px;
    }
}

.app__folderAudio{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 16px;
}

.app__cover{
    width: 30px;
    height: 30px;
    border-radius: 8px;

    background-color: rgba($color: white, $alpha: 0.02);
    border: solid 1px rgba($color: white, $alpha: 0.05);
    z-index: 0;
}

.app__audioCover{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 8px;
}

.app__audioTitle{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 225px;
}

.app__folderName{
    width: 100%;
    justify-content: space-between;
}

.app__folderAudioFileName{
    padding-top: 16px;
    width: 100%;
    gap: 10px;
}

.app__folderFiles{
    padding-bottom: 16px;
    width: 100%;
}

@media screen and (max-width: 1024px){
    .app__folder{
        width: 100%;
    }

    .app__folderTitle{
        padding-top: 25px;
    }

    .app__folderInput{
        display: flex;
        justify-content: center;
    }

    .app__folderInputText{
        width: 50%;
    }

    .app__folderInputIcon{
        left: 30%;
    }

    .app__folderList{
        max-height: 570px;
    }
}

@media screen and (max-width: 767px){
    .app__folderTitle{
        padding-top: 16px;
    }

    .app__folderInputText{
        width: 100%;
        margin: 0 16px;
    }

    .app__folderInputIcon{
        left: 15%;
    }

    .app__folderList{
        padding: 0 16px;
        max-height: 280px;
    }
}