@import '../utils/variables.scss';

.app__playlist{
    position: relative;
    padding: 25px;
    width: 100%;
    height: 100%;
    align-items: center;

    overflow-y: scroll;

    &::-webkit-scrollbar{
        background-color: rgba($color: white, $alpha: 0);
        width: 4px;
    }

    &::-webkit-scrollbar-track{
        width: 4px;
    }

    &::-webkit-scrollbar-thumb{
        background-color: white;
        border-radius: 10px;
    }
}

.app__playlistSlot{
    height: $button-heightDesktop;
    width: 80%;
    border: dashed 2px rgba($color: white, $alpha: 0.05) !important;
    border-radius: $border-radius;
}

audio::-webkit-media-controls-enclosure {
    //glass
    background-color: rgba($color: white, $alpha: 0.02);
    border: solid 1px rgba($color: white, $alpha: 0.05);

    border-radius: 17px;
}

.app__queue{
    width: 80%;
}

//Cache le premier fichier dans queue
.app__queue:nth-child(1){
    display: none;
}

.queue__folderAudio{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 16px;
}

.queue__cover{
    width: 30px;
    height: 30px;
    border-radius: 8px;
}

.queue__audioCover{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 8px;
}

.queue__audioTitle{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 225px;
}

.app__randomize{
    position: absolute;
    bottom: 25px;
    right: 25px;
}

@media screen and (max-width: 1024px){
    .app__playlistSlot{
        display: none;
    }
}

@media screen and (max-width: 767px){
    .app__playlist{
        overflow-y: scroll;
    }

    .app__queue{
        width: 100%;
    }

    .app__randomize{
        display: none;
    }
}