@import '../utils/variables.scss';

header{
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.header__nav>ul>*{
    font-size: 21px;
    color: white;
}

.logoNav{
    height: 36px;
    width: auto;
}

.header__buttonConnection{
    background-color: $main-color;
    color: white;
}