@import '../utils/variables.scss';

.appDesign{
    border-radius: 22px;
    padding: 10px;

    //Si la modale Remove est active
    &.modalBackground {
        filter: blur(8px) brightness(0.4);
        pointer-events: none;
    }
}

.app{
    width: 100%;
    height: 80vh;
    justify-content: space-between;
    border-radius: $border-radius;
}

.app__icon{
    font-size: 25px;
    opacity: 0.5;
    color: white;
    cursor: pointer;
}

.app__main{
    justify-content: space-between;
    width: 100%;
}

.app__folder{
    justify-content: space-between;
    padding: 25px;
    border-left: solid 1px rgba($color: white, $alpha: 0.05);
}

.app__mainTitle{
    padding: 25px;
}

@media screen and (max-width: 1024px){
    .app{
        height: 75vh;
    }
}