.changelog__date{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400 !important;
    text-wrap: nowrap;
    flex: 1;
}

.changelog__info{
    display: flex;
    flex: 4;
}

.changelog__paragraph{
    padding: 32px;
    border-radius: 17px;
}

@media screen and (max-width: 1024px){
    .changelog__container{
        flex-direction: column !important;
    }

    .changelog__date{
        justify-content: start;
        width: fit-content;
        flex: auto;
    }
}

@media screen and (max-width: 767px){
    .changelog__container, .changelog__info{
        gap: 25px !important;
    }

    .changelog__paragraph{
        padding: 16px;
    }
}