.faq{
    position: relative;
}

.faq-svg{
    max-width: 100%;
    height: auto;
}

.faq__button {
    position: absolute;
    top: 400px;
}

.faq__title{
    position: absolute;
    top: 500px;
}

.faq__paragraph{
    position: absolute;
    top: 600px;
    max-width: 840px;
    padding: 32px;
    border-radius: 17px;
}

.path{
    fill: rgba($color: white, $alpha: 0.02);
    stroke: rgba($color: white, $alpha: 0.05);
    stroke-linecap: round;

    transition: all 0.2s ease;
    &:hover{
        filter: drop-shadow(0 0 5px rgba(255, 16, 73, 1));
        stroke: white;
        cursor: pointer;
    }
}

@media screen and (max-width: 1024px){
    .faq__button {
        top: 350px;
    }

    .faq__title{
        top: 450px;
    }

    .faq__paragraph{
        top: 550px;
    }
}

@media screen and (max-width: 767px){
    .faq{
        gap: 25px !important;
    }

    .faq__button {
        top: 200px;
    }

    .faq__title{
        top: 275px;
    }

    .faq__paragraph{
        top: 350px;
    }
}