.features__card{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 50px 24px;
    border-radius: 32px;
    max-width: 300px;
}

.features__cardUp{
    transform: translateY(-100px);
}

@media screen and (max-width: 1024px){
    .features__cards{
        gap: 24px !important;
    }
}

@media screen and (max-width: 767px){
    .features{
        gap: 16px !important;
    }

    .features__cards{
        flex-direction: column !important;
        gap: 16px !important;
    }

    .features__card{
        padding: 16px;
        max-width: none;
        gap: 16px;
    }

    .features__cardUp{
        transform: translateY(0);
    }
}