@import '../utils/variables.scss';

.home__button{
    gap: 10px;
}

.home__buttonConnection{
    display: none;
    background-color: $main-color;
    color: white;

    transition: all 0.3s ease;
    &:hover{
        background-color: transparent;
        box-shadow: 0 0 0 1px $main-color;
        cursor: pointer;
    }
}

@media screen and (max-width: 1024px){
    .home{
        gap: 24px !important;
    }

    .home__buttonConnection{
        display: block;
    }
        
    .home__logo{
        order: 1;
    }
    
    .home__button {
        order: 2;
    }
    
    .home__buttonConnection {
        order: 3;
    }
}

@media screen and (max-width: 767px){
    .home__logo{
        width: 66% !important;
    }
}

