@import './utils/variables.scss';
@import './utils/normalize.scss';

//Global
html{
    max-width: 1324px;
    margin: 0 auto;
}

body{
    position: relative;
    background-color: #0C0104;
    font-family: "Kumbh Sans", sans-serif;
    font-optical-sizing: auto;
    color: white;
    padding: 32px;

    //Cadrillage
    background-size: 40px 40px;
    background-image: linear-gradient(to right, rgba(255, 16, 73, 0.04), 1px, transparent 1px),
        linear-gradient(to bottom, rgba(255, 16, 73, 0.04), 1px, transparent 1px); 
    z-index: -2;
    overflow-x: hidden;
    overflow-y: hidden;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../assets/ParticulesBackground.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    pointer-events: none;
}

.gridDot {
    position: fixed;
    width: 2px;
    height: 2px;
    background-color: $main-color;
    border-radius: 50%;
    pointer-events: none;
    z-index: -1;
    opacity: 0;
    
    box-shadow: 
        0 0 2px #FF1049,
        0 0 8px #FF1049,
        0 0 16px rgba(255, 16, 73, 0.8),
        0 0 24px rgba(255, 16, 73, 0.6),
        0 0 32px rgba(255, 16, 73, 0.4),
        0 0 40px rgba(255, 16, 73, 0.2);
}

//Position
.horizontal{
    display: flex;
    flex-direction: row;
}
.vertical{
    display: flex;
    flex-direction: column;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

//Espacement
.gap{
    gap: $gap-desktop;
}
.smallGap{
    gap: calc($gap-desktop/2);
}
.buttonPadding{
    padding: $button-padding;
    height: $button-heightDesktop;
    border-radius: $border-radius;

    @media screen and (max-width: 767px){
        height: 48px;
    }
}

.audioPadding{
    padding: 0 16px;
    height: $button-heightDesktop;
    border-radius: $border-radius;
}

.folderPadding{
    padding: 0 16px;
    border-radius: $border-radius;
}

//Style
.backgroundColor{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background : -webkit-gradient(radial,50% 0% ,0 , 50% 0%, 1080 ,color-stop(0,rgba(255, 36, 78, 1) ),color-stop(1,rgba(12, 1, 4, 0) ));
    opacity : 0.25;
    pointer-events: none; //Obligatoire sinon le site n'est pas cliquable
}
.glass{
    background-color: rgba($color: white, $alpha: 0.02);
    box-shadow: 0 -1px 0 0 rgba(255, 255, 255, 0.05), 0 0 0 1px rgba(255, 255, 255, 0.05);
    z-index: 0;
    // backdrop-filter: blur(1px);
}

.glassHover{
    transition: all 0.3s ease;
    &:hover{
        box-shadow: 0 -1px 0 0 rgba(255, 255, 255, 0.1), 0 0 0 1px rgba(255, 255, 255, 0.1);
        cursor: pointer;
    }
}

.folderGlass{
    border-radius: 26px;
    padding: 10px;
}

//Texte
h1, h2{
    font-size: 72px;
    font-weight: 600;
    text-wrap: balance;
    filter: drop-shadow(0 0 15px rgba(255, 16, 73, 0.75));
}

.smallTitle{
    font-size: 32px;
    font-weight: 600;
}

.buttonText{
    font-size: 21px;
    font-weight: 600;
    color: white;
}

.paragraph{
    font-size: 18px;
    font-weight: 300;
    color: white;
    opacity: 0.5;
}

//Icon
.logo{
    width: 30%;
    height: auto;
}
.discordIcon{
    font-size: 21px;
}

@media screen and (max-width: 1024px){
    body{
        padding: 24px;
    }
}

@media screen and (max-width: 767px){
    body{
        padding: 16px;
    }

    h1, h2{
        font-size: 28px;
    }

    .smallTitle{
        font-size: 28px;
    }

    .paragraph{
        font-size: 16px;
    }
}